*~
*.swp
*.pyc
*.log
.coverage
.venv
.tox
cover/
.openstack-common-venv/
skeleton.egg-info/
build/
dist/
AUTHORS
.update-venv/
ChangeLog
*.egg
.testrepository/
.project
.pydevproject
oslo.db.egg-info/
doc/source/reference/api
